@import 'base/variables';

@font-face {
    font-family: "Roboto-Light";
    src:
        url("../fonts/Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Regular";
    src:
        url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Supermolot Bold';
    src:
        url("../fonts/Supermolot-Bold.woff") format("woff");
}

@font-face {
    font-family: "TD Mars";
    src: url("../fonts/TDMarsRegular.woff") format('woff');
  }




* {
    font-optical-sizing: auto;
    font-family: "Roboto-Light";
    font-style: normal;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Roboto-Light";
}

.card-header, .main__services_item_price {
    font-family: 'Supermolot Bold';
}


a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #ffff;
    text-decoration: none;
}

.container {
    max-width: 1126px;
    margin: 0 auto;
}

.title {
    font-size: 38px;
    text-align: center;
    color: #ffff;
}


@import 'blocks/preloader';
@import 'blocks/header.scss';
@import 'blocks/services.scss';
@import 'blocks/slider.scss';
@import 'blocks/slider';
@import 'blocks/main-services';
@import 'blocks/packages';
@import 'blocks/gallery';
@import 'blocks/leadform';
@import 'blocks/feedback';
@import 'blocks/footer';

//media queries