.feedback {
    background: #fff;
    height: 100%;
    color: #000;
}

.feedback-slider_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.feedback__title {
    padding-top: 90px;
    color: #000;
}

.feedback__subtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 5px;
    color: #424242;
}

.feedback_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-bottom: 50px;
}

.slide_images {
    display: flex;
}


.images_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.row_text {
    margin-right: 5px;
    color: #000;
}


.slide_text {
    color: #929292;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.slide_rating {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.rating_stars {
    display: flex;
}

@media (max-width: 1000px) {
    .images_row img {
        width: 200px    ;
    }
}

@media (max-width: 490px) {
    .slide_text {
        font-size: 10px;
    }
}


//slider

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #fff;
    padding-bottom: 40px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #fff;
}

.navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: $main-color;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-dot.active {
    background-color: #000000;
}
