// @font-face {
//     font-family: "TD Mars";
//     src: url("/src/fonts/TDMarsRegular.woff2") format('woff2');
//   }

//nav 

.nav-item-lang {
    display: flex;
}

.nav-item-lang a {
    padding-left: 0;
    padding-right: 0;
}

.nav-item-lang div {
    padding-left: 0;
    padding-right: 0;
}

.link_active a {
    color: $main-color;
}

// header

header {
    background-image: url('../img/bg/header-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 250px;
}


.header__link {
    color: #FFFFFF;
}

.header__link:hover {
    color: $main-color;
}

.header__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
} 

.header__block_title {
    line-height: 76px;
    font-size: 55px;
    color: $main-color;
    font-family: "TD Mars";
}

.header__block_subtitle {
    line-height: 32px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: "TD Mars";
}

.header__block_phone {
    margin-top: 15px;
} 

.header__block_phone a {
    color: #FFFFFF;
    font-size: 25px;
}

.header__block_btn {
    margin-top: 15px;
    color: #FFFFFF;
    background: rgba($color: #000000, $alpha: 0.52);
    border: 1px solid #ffffff;
    border-radius: 45px;
    padding: 26px 70px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 50px;
    }
}

@media (max-width: 763px) {
    .header__block_title {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .header__block_title {
        font-size: 27px;
    }
    .header__block_subtitle {
        font-size: 25px;
    }
    .header__block {
        margin-top: 190px;
    }
    header {
        background-image: url('../img/bg/header-1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.header__block_btn:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    background: rgba($color: $main-color, $alpha: 0.52);
    transition: all ease-out .4s;
}
