.lead-form {
    background-image: url('../img/bg/form.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 80px;
}

.lead-form__container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__wrapper {
    margin-top: 20%;
    display: flex;
    // flex-wrap: wrap-reverse;
    background: rgba(0, 0, 0, 0.52);
    align-items: start;
    justify-content: center;
    border-radius: 45px;
    padding: 50px;
    max-width: 690px;
}

.form__info {
    font-weight: 300;
    margin-right: 50px;
    width: 320px;
}

.form__info_address {
    font-size: 14px;
}


.form__info_email {
    margin-top: 10px;
}


.form__info_tel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form__info_socialmedia {
    margin-top: 10px;
}

.socialmedia_links {
    display: flex;

}

.form__info_schedule {
    margin-top: 10px;
}


.form_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.leadform_btn {
    padding: 10px 100px;
    border: 1px solid #ffff;
    border-radius: 45px;
    background: black;
    margin-top: 30px;
    color: #fff;
}

.leadform_btn:hover {
    background: #fff;
    color: black;
    transition: 0.2s;
}

.form_label {
    font-size: 14px;
    font-weight: 200;
    width: 100%;
}
.label_t {
    margin-top: 15px;
}

.alert-success {
    display: none;
}

.form_input {
    width: 100%;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    font-size: 25px;
    outline: none;
    background: none;
    box-shadow: none;
    color: #fff;
}



@media (max-width: 692px) {
    .form__wrapper {
        max-width: 350px;
        flex-wrap: wrap-reverse;
    }
    .form_form {
        margin-left: 0;
    }
    .form__info {
        margin-top: 20px;
    }
    .form__send-result {
        width: 100%;
    }
}