.packages {
    background-image: url('../img/bg/packages.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.packages_titles {
    padding-top: 120px;
    
}


.packages-container {
    padding: 70px 5px;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advantage-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.advantage-item:nth-child(1) {
    margin-left: 30px;
    margin-bottom: 10px;
}

.advantage-item:nth-child(2) {
    margin-left: 60px;
    margin-bottom: 10px;
}

.advantage-item:nth-child(3) {
    margin-left: 100px;
    margin-bottom: 10px;
}

.advantage-item:nth-child(4) {
    margin-left: 60px;
    margin-bottom: 10px;
}

.advantage-item:nth-child(5) {
    margin-left: 30px;
}

.adv-icon {
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #1c1c1c;
}

.description {
    padding-left: 5px;
    font-size: 15px;
    // border: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #272727;
    width: 50%;
}

@media (max-width: 650px) {
    .advantage-item {
        justify-content: center;
    }
    .advantage-item:nth-child(1) {
        margin-left: 0px;
        
    }
    
    .advantage-item:nth-child(2) {
        margin-left: 0px;
    }
    
    .advantage-item:nth-child(3) {
        margin-left: 0px;
    }
    
    .advantage-item:nth-child(4) {
        margin-left: 0px;
    }
    
    .advantage-item:nth-child(5) {
        margin-left: 0px;
    }
    .advantage_logo {
        display: none;
    }
}
