//services

.services {
    background-image: url('../img/bg/services.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 150px;
}

.services__title {
    padding-top: 99px;
}

.services__text {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.services__underline {
    width: 195px;
    height: 2px;
    border-bottom: 2px solid #ffff;
    margin: 0 auto;
}

